<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet" />
    <title>Document</title>
    <style>
        @media (max-width: 767.9px) {
            .table-cont {
                width: 95%;
            }
        }
    </style>
</head>

<body>
    <div class="
        table-cont
        m-auto
        flex
        justify-between
        flex-wrap
        md:flex-col md:justify-center md:items-end md:w-3/4
        mt-10
        mb-4
        md:mb-2
        p-2
      ">
        <div class="md:w-1/5 w-full">
            <label for="search">Search:
          <input
            class="
              w-full
              bg-gray-100
              focus:outline-none focus:bg-green-100
              transition
              duration-500
              ease-in-out
              h-8
              px-2
            "
            v-model="search"
            id="search"
            name="search"
            type="text"
          />
        </label>
        </div>
        <div class="md:w-1/5 w-1/2">
            <label class="relative mt-2" for="gender">
          Order By:
          <select
            class="
              w-full
              outline-none
              ring-1
              focus:ring-blue-100
              text-gray-600
              rounded-sm
              transition
              duration-200
              ease-in-out
              h-8
              px-2
            "
            name="gender"
            id="gender"
            v-model="registerData.gender"
          >
            <option value="Male">Firstname</option>
            <option value="Female">Lastname</option>
            <option value="Other">Gender</option>
          </select>
        </label>
        </div>
        <div class="
          md:w-1/5
          w-1/2
          flex
          justify-start
          md:justify-center md:mt-4
          mt-6
          pl-4
          md:pl-0
        ">
            <span>
          <svg
            class="
              fill-current
              text-gray-500
              cursor-pointer
              hover:text-gray-900
              transition
              duration-100
              ease-out
            "
            xmlns="http://www.w3.org/2000/svg"
            height="30px"
            viewBox="0 0 24 24"
            width="30px"
            fill=""
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"
            />
          </svg>
        </span>
            <span>
          <svg
            class="
              fill-current
              text-gray-500
              cursor-pointer
              hover:text-gray-900
              transition
              duration-100
              ease-out
            "
            xmlns="http://www.w3.org/2000/svg"
            height="30px"
            viewBox="0 0 24 24"
            width="30px"
            fill="#000000"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"
            />
          </svg>
        </span>
        </div>
    </div>
    <div class="table-cont overflow-x-auto m-auto">
        <table class="md:w-3/4 bg-gray-800 text-gray-200 table-auto m-auto">
            <tr class="text-left border-b border-gray-300">
                <th class="px-4 py-3">Firstname</th>
                <th class="px-4 py-3">Lastname</th>
                <th class="px-4 py-3">Email</th>
                <th class="px-4 py-3">Position</th>
                <th class="px-4 py-3">Education</th>
                <th class="px-4 py-3">Gender</th>
                <th class="px-4 py-3">Action</th>
            </tr>
            <tr class="bg-gray-700 border-b border-gray-600">
                <td class="px-4 py-3">Jill</td>
                <td class="px-4 py-3">Smith</td>
                <td class="px-4 py-3">example@gmail.com</td>
                <td class="px-4 py-3">Manager</td>
                <td class="px-4 py-3">Matric</td>
                <td class="px-4 py-3">Male</td>
                <td class="flex mt-2">
                    <svg class="
                fill-current
                text-base text-gray-400
                hover:text-gray-100
                mx-2
                cursor-pointer
                transition
                duration-100
                ease-out
              " xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"
              />
            </svg>

                    <svg class="
                fill-current
                text-base text-gray-400
                hover:text-gray-100
                mx-2
                cursor-pointer
                transition
                duration-100
                ease-out
              " xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"
              />
            </svg>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>